@media screen and (max-width: 900px) {
  body {
    height: max-content;
    padding-block: 10px;
  }
  main {
    width: 600px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    section {
      margin-bottom: 10px;
      width: 350px;
      &.section-2 {
        img {
          position: static;
        }
        p {
          font-size: 26px;
          line-height: 30px;
          span {
            display: inline;
          }
        }
      }
      &.section-3 {
        img {
          position: relative;
          transform: none;
          top: 10px;
          width: 70%;
        }
        p {
          line-height: 30px;
        }
      }
      &.section-4 {
        padding-inline: 15px;
        p {
          text-align: center;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      &.section-5 {
        flex-direction: column;
        img {
          width: 70%;
          height: auto;
          margin-bottom: 20px;
        }
        p {
            text-align: center;
            font-size: 35px;
            line-height: 30px;
        }
      }
      &.section-7 {
        padding-block: 20px;
      }
      &.section-8 {
        img {
            margin-inline: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }
}
